pipeline {
    agent any
    stages {
        stage('cd') {
            steps {
                sh 'cd deploy'
            }
        }
        stage('Prepare') {
            steps {
                sh 'echo "..."'
            }
        }
        stage('Deploy') {
            steps {
                echo "Deploying.."
                sh './deploy.sh'
            }
        }
        stage('Verify') {
            steps {
                echo "Verifying.."
            }
        }
    }
}